/*----------------------------------------------------
Header
----------------------------------------------------*/
.c-header{
	width: 100%;
	padding-bottom: 90px;
	&__top{
		background: #222;
	}
	&__nav{		
		ul{
			display: flex;			
			li{
				padding: 12px 20px;
				border-left: 1px solid #666;
				font-size: 1.3rem;
				line-height: 1;
				color: #999;
				position: relative;
				&.is-login{
					cursor: pointer;
					&:hover{
						.c-header__login{
							visibility: visible;
							animation: form-in 0.5s forwards;
						}
					}
				}
				&:last-child{
					border-right: 1px solid #666;
				}
				a{
					font-size: 1.3rem;
					line-height: 1;
					color: #999;
					i{
						margin-right: 10px;
					}
					&:hover{
						color: #17a2b8;
					}
				}
			}
		}
	}
	&__login{
		background: #fff;
		width: 280px;
		position: absolute;
		top: 100%;
		right: 0;
		padding: 15px;
		border: 2px solid #17a2b8;
		border-radius: 5px;
		visibility: hidden;
		animation: form-out 0.5s forwards;
		transition: 0.3s ease-in-out;
		z-index: 9999;
		&:before{
			content: '';
			width: 0; 
			height: 0; 
			border-left: 7px solid transparent;
			border-right: 7px solid transparent;
			border-bottom: 7px solid #17a2b8;
			position: absolute;
			top: -7px;
			right: 60px;
		}
		.input-group-text{
			background-color: transparent;
			color: #17a2b8;
			font-size: 1.4rem;
			font-weight: bold;
			width: 85px;
		}
		input{
			padding: 19px 10px;
		}
		input,
		button{
			font-size: 1.4rem;
		}
		a{
			color: #111;
		}
	}
	&__inner{
		width: 100%;
		padding: 20px 0;
		background: #fff;
		transition: 0.2s ease-in-out;
		position: fixed;
		z-index: 999;
		box-shadow: 3px 3px 15px rgba(23, 162, 184, 0.5);
	}
	&__menu{
		display: flex;
		align-items: center;
		justify-content: center;
		li{
			position: relative;
			a{
				display: block;
				text-transform: uppercase;
				font-size: 1.8rem;
				line-height: 1;
    			letter-spacing: 1px;
    			color: #111;
    			font-weight: bold;
    			padding: 8px 15px;
    			position: relative;
    			z-index: 1;
    			&.is-hover{ 			
	    			&:before{
						content: '';
						width: 100%;
						height: 100%;
						border: 1px solid #fff;
						position: absolute;
						top: 0;
						left: 0;
						transition: 0.3s ease-in-out;
						z-index: 0;
					}
				}		
			}
			&:hover{
				a{
					&.is-hover{
						color: #fff;
						background: #17a2b8;
						&:before{
							width: calc(100% - 8px);
							height: calc(100% - 8px);
							top: 4px;
							left: 4px;
						}
					}
				}
				.c-header__sub{
					transform: scale(1);
				}
			}
			
		}
	}
	&__sub{
		min-width: 200px;
		display: block;
		position: absolute;
		top: 100%;
		left: 0;
		z-index: 9;
		transform: scale(0);
		padding: 20px;
		border-radius: 5px;
		box-shadow: -10px 10px 10px rgba(23, 162, 184, 0.15);
		transition: 0.3s ease-in-out;
		transform: scale(0);
		transform-origin: top left;
		background: #fff;
		li{
			padding: 10px 0;
			+ li{
				margin-top: 5px;
			}
			&:before{
				content: '';
				width: 0%;
				height: 2px;
				background: #17a2b8;
				position: absolute;
				bottom: 0;
				left: 0;
				transition: 0.3s ease-in-out;
			}
			a{
				font-weight: normal;
				font-size: 1.5rem;
				padding: 0;
				text-transform: capitalize;
				background: transparent;
				color: #111;
			}
			&:hover{
				&:before{
					width: 100%;
				}
				a{
					color: #17a2b8;					
				}
			}
		}
	}
	&__shop{
		display: flex;
		align-items: center;
	}
	&__btnSearch{
		display: flex;
		align-items: center;
		justify-content: center;
		width: 40px;
		height: 40px;
		font-size: 2.1rem;
		color: #111;
		transition: 0.3s ease-in-out;
		margin-right: 5px;
		cursor: pointer;
		&:hover{
			color: #17a2b8;
		}
	}
	&__cart{
		font-size: 1.8rem;
		sup{
			font-size: 1.3rem;
			line-height: 1;
			margin-left: 2px;
		}
	}
}

/*----------------------------------------------------
Search
----------------------------------------------------*/
.c-search{
	background: #222;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	padding: 20px;
	display: none;
	input{
		font-size: 1.6rem;
		line-height: 1.7;
		height: auto;
    	padding: 10px 20px;
		color: #17a2b8;
		transition: 0.3s ease-in-out;
		&:focus{
			color: rgb(246, 158, 34);
		}
	}
}

@keyframes form-in {
	0%{
		opacity: 0;
		transform: translateY(-100%) scale(0.5);
	}
	100%{
		opacity: 1;
		transform: translateY(0) scale(1);
	}
}

@keyframes form-out {	
	0%{
		opacity: 1;
		transform: translateY(0) scale(1);
	}
	100%{
		opacity: 0;
		transform: translateY(-100%) scale(0.5);
	}
}