/*----------------------------------------------------
Other
----------------------------------------------------*/
@mixin clear {
	*zoom: 1;
	&:after{
		display: block;
		content: "";
		clear: both;
	}
}

/*	Hover
----------------------------------------------------*/
.is-hover01{
	position: relative;
	overflow: hidden;
	&:before,
	&:after{
		content: '';		
		position: absolute;		
		transition: 0.4s ease-in-out;
	}
	&:before{
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		box-shadow: inset 0 0 30px rgba(255, 255, 255, 0), 0 0 30px rgba(255, 255, 255, 0);
	}
	&:after{
		width: calc(100% - 30px);
		height: calc(100% - 30px);
		border: 1px solid #fff;
		top: 15px;
		left: 15px;
		transform: scale(0);
		opacity: 0;
	}
	&:hover{
		&:before{
			width: calc(100% - 30px);
			height: calc(100% - 30px);
			box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(0, 0, 0, 0.2);
			top: 15px;
			left: 15px;
		}
		&:after{
			transform: scale(1);
			opacity: 1;
		}
	}
}
.is-hover02{
	position: relative;
	&:before,
	&:after{
		content: '';
		position: absolute;
		transition: 0.4s ease-in-out;		
	}
	&:before{
		width: calc(100% - 30px);
		height: calc(100% - 30px);
		box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(0, 0, 0, 0.5);
		top: 15px;
		left: 15px;
		transform: scale(0);
	}
	&:after{
		width: 100%;
		height: 100%;
		border: 1px solid rgba(0, 0, 0, 0);
		top: 0;
		left: 0;
	}
	&:hover{
		&:before{
			transform: scale(1);
		}
		&:after{
			width: calc(100% - 30px);
			height: calc(100% - 30px);
			border: 1px solid #ffF;
			top: 15px;
			left: 15px;
		}
	}
}

.is-hover03{
	position: relative;
	&:before,
	&:after{
		content: "";
	    position: absolute;
	    right: 0;
	    left: 0;
	    top: 0;
	    bottom: 0;
	    transition: all 0.6s ease-out 0s;
	}
	&:hover{
		&:before{
			background-color: rgba(255,255,255,.8);
		    right: 51%;
		    left: 50%;
		}
		&:after{
			background-color: rgba(255,255,255,.5);
		    top: 50%;
		    bottom: 50%;
		}
	}
}

/*	c-support
----------------------------------------------------*/
.c-support{
	border-bottom: 1px solid #ccc;
	padding: 30px 0 0px;
	&__item{
		padding-left: 60px;
		margin-bottom: 30px;
		position: relative;
		&:hover{
			.c-support__icon{
				transform: rotate(360deg);
				&:before{
					border: 1px solid #fff;
					transform: scale(0.85);
				}
			}
			.c-support__text{
				color: #17a2b8;
			}
		}
	}
	&__icon{
		display: flex;
		align-items: center;
		justify-content: center;
		width: 50px;
		height: 50px;
		border-radius: 50%;
		font-size: 2.5rem;
		line-height: 1;
		color: #fff;
		background: #17a2b8;
		transform: rotate(0deg);
		transition: 0.8s ease-in-out;
		position: absolute;
		left: 0;
		top: calc(50% - 25px);
		&:before{
			content: '';
			width: 100%;
			height: 100%;
			border-radius: 50%;
			border: 2px solid #555;
			position: absolute;
			top: 0;
			left: 0;
			transform: scale(1);
			transition: 0.5s ease-in-out;
		}
	}
	&__text{
		color: #111;
		font-size: 2rem;
		line-height: 1.2;
		font-weight: bold;
		transition: 0.5s ease-in-out;
		span{
			display: block;
			font-size: 1.4rem;
			margin-top: 10px;
			font-weight: normal;
		}
	}
}

/*	c-banner3col
----------------------------------------------------*/
.c-banner3col{
	width: 100%;
	padding: 50px 0 20px;
	@include clear;
	&__item{
		width: calc(50% - 15px);
		float: left;
		margin-bottom: 30px;
		position: relative;
		&:first-child{
			margin-right: 30px;
			.c-banner3col__text{
				left: auto;
				right: 20px;
				text-align: right;
			}			
		}
	}
	&__img{
		img{
			width: 100%;
		}
	}
	&__text{
		position: absolute;
		top: 50%;
		left: 20px;
		transform: translateY(-50%);
	}
	&__ttl{
		font-size: 2.2rem;
	}
}

/*	Tabs
----------------------------------------------------*/
.react-tabs{
	width: 100%;
	margin-bottom: 50px;
	&__tab-list{
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 0 auto 30px;
		border-bottom: 2px solid #17a2b8;
	}
	&__tab{
		font-size: 2.2rem;
		line-height: 1;
		font-weight: bold;
		text-transform: uppercase;
		margin-left: 50px;
		margin-bottom: -2px;
		padding: 15px 20px;	
		cursor: pointer;
		border-radius: 4px 4px 0 0;	
		border-top: 2px solid transparent;
		border-left: 2px solid transparent;
		border-right: 2px solid transparent;
		transition: 0.3s ease-in-out;
		position: relative;
		&:before{
			content: '\f006';
			font-family: FontAwesome;
			font-size: 2rem;
			line-height: 1;
			color: #17a2b8;
			position: absolute;
			left: -35px;
			top: calc(50% - 10px);
		}
		&:first-child{
			margin-left: 0;
			&:before{
				display: none;
			}
		}
		&:hover{
			border-top: 2px solid #17a2b8;
			border-left: 2px solid #17a2b8;
			border-right: 2px solid #17a2b8;
			
			background: #fff;
			color: #17a2b8;
		}
		&--selected{
			border-top: 2px solid #17a2b8;
			border-left: 2px solid #17a2b8;
			border-right: 2px solid #17a2b8;
			background: #fff;
			color: #17a2b8;
		}
	}
}


/*	c-list01
----------------------------------------------------*/
.c-list01{
	display: flex;
	flex-wrap: wrap;
	margin: 0 -15px;
	transition: 0.3s ease-in-out;
	animation: productscale 0.5s forwards;
	&__item{
		width: calc(25% - 30px);
		margin: 0 15px 30px;
		border-radius: 4px;
		position: relative;
		overflow: hidden;
		cursor: pointer;
		transition: 0.3s ease-in-out;
		&:hover{
			box-shadow: 7px 7px 10px rgba(23, 162, 184, 0.5);
			.c-list01__btn{
				transform: scale(1);
			}
			.c-list01__view{
				animation: productbtn 0.5s forwards;
				animation-delay: 0.3s;
			}
			.c-list01__addcart{
				animation: productbtn 0.5s forwards;
				animation-delay: 0.4s;
			}
			.c-list01__addwi{
				animation: productbtn 0.5s forwards;
				animation-delay: 0.5s;
			}
		}
	}
	&__img{
		img{
			width: 100%;
		}
	}
	&__text{
		padding: 10px 10px 20px;
	}
	&__ttl{
		font-size: 1.6rem;
		line-height: 1.6;
		text-align: center;
		text-transform: uppercase;
		padding-bottom: 10px;
		color: #111;
		position: relative;
		&:after{
			content: '';
			width: 80px;
			height: 2px;
			border-top: 2px dashed #17a2b8;
			position: absolute;
			left: calc(50% - 40px);
			bottom: 0;
		}
	}
	&__price{
		text-align: center;
		font-size: 1.8rem;
		line-height: 1;
		color: #f90;
		font-weight: bold;
		padding: 10px 0;
	}
	&__star{
		display: flex;
		justify-content: center;
		font-size: 1.4rem;
		line-height: 1;
		color: #111;
		i{
			+i{
				margin-left: 5px;
			}
		}
	}
	&__btn{
		display: flex;
		align-items: center;
		justify-content: center;
		flex-flow: column;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.3);
		position: absolute;
		top: 0;
		left: 0;
		transform: scale(0);
		transition: 0.3s ease-in-out;
	}
	&__view,
	&__addcart,
	&__addwi{
		appearance: none;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 60px;
		height: 60px;
		font-size: 2.5rem;
		color: #fff;
		border: 1px solid #fff;
		background: transparent;
		opacity: 0;		
		transform: translateX(-150px);		
		&:hover{
			border: 1px solid #17a2b8;
			color: #17a2b8;
		}
	}
	&__addcart{
		margin-top: 10px;		
	}
	&__addwi{
		margin-top: 10px;
	}
}

/*	c-hotdeal
----------------------------------------------------*/
.c-hotdeal{
	position: relative;
	&:before{
		content: '';
		width: 100%;
		height: calc(100% - 100px);
		background: #f1f1f1;
		position: absolute;
		top: 50px;
		left: 0;
		z-index: -1;
	}
	&__box{
		width: 350px;
		background: #17a2b8;
		margin: 0 auto;
		padding: 50px 20px;
	}
	&__ttl01{
		text-align: center;
		color: #fff;
		font-size: 1.8rem;
		line-height: 1;
		font-weight: bold;
		text-transform: uppercase;
		letter-spacing: 2px;
		padding-bottom: 20px;
		position: relative;
		span{
			display: block;
			text-transform: none;
			font-size: 1.2rem;
			font-weight: normal;
			margin-bottom: 10px;
			letter-spacing: 1px;
		}
		&:after{
			content: '';
			width: 80px;
			height: 2px;
			border-top: 2px dashed #fff;
			position: absolute;
			left: calc(50% - 40px);
			bottom: 0;
		}
	}
	&__ttl02{
		writing-mode: tb-rl;
	    height: 100%;
	    text-align: center;
	    margin: 0 20px;
	    position: relative;
	    &:before{
	    	content: '';
	    	width: 1px;
	    	height: 100%;
	    	background: #ccc;
	    	position: absolute;
	    	left: 50%;
	    	top: 0;
	    	z-index: -1;
	    }
	    span{
	    	background: #f1f1f1;
	    }
	}
	&__txt01{
		text-align: center;
		color: #fff;
		margin: 20px 0 0;
	}
	&__time{
		width: 200px;
		height: 200px;
		margin: 20px auto;
		text-align: center;
		border: 1px solid #111;
		border-radius: 5px;
		box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.6);
		padding: 20px;
		background-image: linear-gradient(to bottom right, #222, #333, #333, #222);
		position: relative;
		&:before,
		&:after{
			content: '';
			width: 8px;
			height: 64px;
			background-image: linear-gradient(to bottom right, #555, #444, #444, #555); 
			border: 1px solid #111;
			position: absolute;
			top: calc(50% - 32px);
		}
		&:before{			
			border-top-left-radius: 6px;
			border-bottom-left-radius: 6px;
			left: -8px;
		}
		&:after{
			border-top-right-radius: 6px;
			border-bottom-right-radius: 6px;
			right: -8px;
		}
		ul{
			display: flex;
			flex-wrap: wrap;
			li{
				display: flex;
				align-items: center;
				justify-content: center;
				width: 74px;
				height: 74px;
				margin-left: 10px;
				margin-bottom: 10px;
				text-align: center;
				color: #17a2b8;
				background-color: #ddd;
				border: 1px solid #fff;
				background-image: linear-gradient(to bottom right, #bbb, #eee);
				border-radius: 3px;
				box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.7);
				padding: 0 0 20px;
				font-size: 3rem;
				font-weight: bold;
				position: relative;
				&:nth-child(2n + 1){
					margin-left: 0;
				}
				&:nth-of-type(3),
				&:nth-of-type(4){
					margin-bottom: 0;
				}
				span{
					display: block;
					width: 100%;
					text-align: center;
					font-size: 1.5rem;
					line-height: 1;
					font-weight: bold;
					text-transform: uppercase;
					position: absolute;
					left: 0;
					bottom: 5px;
				}
			}
		}
	}
	&__btn{
		display: block;
		width: 200px;
		margin: 0 auto;
		text-align: center;
		font-size: 1.6rem;
		line-height: 1;
		color: #fff;
		text-transform: uppercase;
		border: 1px solid #fff;
		border-radius: 5px;
		padding: 10px 0;
		position: relative;
		overflow: hidden;
		&:before,
		&:after{
			content: '';
			width: 0;
			height: 100%;
			background: rgba(0, 0, 0, 0.5);
			position: absolute;
			top: 0;
			transition: 0.3s ease-in-out;
			z-index: 0;
			transform: skewX(30deg);
		}
		&:before{
			left: -10px;
		}
		&:after{
			right: -10px;
			
		}
		span{
			transition: 0.3s ease-in-out;
			position: relative;
			z-index: 1;
		}
		&:hover{
			color: #fff;
			&:before,
			&:after{
				width: calc(50% + 10px);
			}
		}
	}
	&__inner{
		align-items: center;
	}
	&__item{
		display: flex;
		align-items: center;
		width: calc(50% - 175px);
		height: 250px;
		border-top: 4px solid #fff;
		border-bottom: 4px solid #fff;
		position: relative;
		img{
			position: absolute;
			bottom: 0;
			z-index: 0;
		}
		&--left{			
			border-left: 4px solid #fff;
			padding-left: 150px;
			justify-content: flex-end;
			img{
				left: 20px;
			}
		}
		&--right{
			border-right: 4px solid #fff;
			padding-right: 150px;
			justify-content: flex-start;
			img{
				right: 20px;
			}
		}
	}
	&__sell{
		display: flex;
		align-items: center;
		justify-content: center;
		width: 80px;
		height: 80px;
		border-radius: 50%;
		border: 5px solid rgba(0, 0, 0, 0.5);
		box-shadow: 0 0 20px #17a2b8;
		background: #17a2b8;
		font-size: 2rem;
		line-height: 1;
		color: #fff;
		font-weight: bold;
	}
}

/*	keyframe
----------------------------------------------------*/
@keyframes productbtn{
	0%{
		opacity: 0;
		transform: translateX(-150px);
	}
	100%{
		opacity: 1;
		transform: translateX(0);
	}
}
@keyframes productscale{
	0%{
		opacity: 0;
		transform: scale(0);
		transform-origin: top left;
	}
	100%{
		opacity: 1;
		transform: scale(1);
		transform-origin: top left;
	}
}