
.c-slider{
	background: rgba(236, 235, 233, 0.9);
	position: relative;
	overflow: hidden;
	z-index: 1;
	&__progress{
		width: 0;
		height: 3px;
		border-radius: 2px;
		background-image: linear-gradient(to right,#00f,#17a2b8,#ff0);
		position: absolute;
		left: 0;
		top: 0;
		z-index: 2;
	}
	&__item{
		position: relative;
	}
	&__img{
		position: relative;
		z-index: 1;
		img{
			width: 100%;
		}
	}
	&__text{
		width: 100%;
		position: absolute;
		top: 10%;
		left: 0;
		z-index: 2;
		.row{
			display: block;
		}
	}
	&__ttl01{
		font-size: 4rem;
		line-height: 1;
		font-weight: bold;
		color: #111;
		text-transform: uppercase;
		overflow: hidden;
		margin-bottom: 10px;
		transform: translateY(-80px) scale(0);
		opacity: 0;
		transform-origin: top right;
	}
	&__ttl02{
		font-size: 2rem;
		line-height: 1;
		font-weight: bold;
		color: #666;
		text-transform: uppercase;
		overflow: hidden;
		margin-bottom: 15px;
		transform: translateX(80px) scale(0);
		opacity: 0;
		transform-origin: bottom right;
	}
	&__txt{
		width: 100%;
		max-width: 400px;
		font-size: 1.6rem;
		overflow: hidden;
		transform: translateY(80px) scale(0);
		opacity: 0;
	}
	&__btn{
		display: flex;
		align-items: center;
		justify-content: center;		
		font-size: 1.6rem;
		line-height: 1;
		color: #17a2b8;
		width: 120px;
		height: 40px;
		position: relative;
		overflow: hidden;
		transform: translateX(-80px) scale(0);
		opacity: 0;
		&:before{
			content: '';
			width: 100%;
			height: 100%;
			border: 1px solid #111;
			position: absolute;
			left: 0;
			top: 0;
			z-index: 0;
			transition: 0.3s ease-in-out;
		}
		span{
			position: relative;
			z-index: 1;
		}
		&:hover{
			color: #fff;
			background: #17a2b8;
			&:before{
				width: calc(100% - 6px);
				height: calc(100% - 6px);
				top: 3px;
				left: 3px;
				border: 1px solid #fff;
			}
		}
	}
	&__prev,
	&__next{
		display: flex;
		align-items: center;
		justify-content: center;
		width: 70px;
		height: 70px;		
		background: #17a2b8;
		border-radius: 0 50% 50% 0;
		position: absolute;
		bottom: 10px;
		cursor: pointer;
		opacity: 0.5;
		transition: 0.3s ease-in-out;
		z-index: 3;
		img{
			width: 30px;
			height: auto;
		}
		&:hover{
			opacity: 0.8;	
		}
	}
	&__prev{
		left: 0;
	}
	&__next{
		right: 0;
		transform: rotate(180deg);
	}	
}

.slick-slide{
	float: left;
	&:nth-child(odd){
		.c-slider__ttl01{
			text-align: right;
			transform-origin: top left;
		}
		.c-slider__ttl02{
			text-align: right;
			transform-origin: bottom left;
		}
		.c-slider__txt{
			text-align: right;
			margin-left: auto;
		}
		.c-slider__btn{
			margin-left: auto;
		}
	}
	&.slick-active{
		.c-slider__progress{
			animation: progress 3.5s forwards;
			animation-delay: 0.5s;
		}
		.c-slider__ttl01{
			animation: slider01 0.5s forwards;
			animation-delay: 0.6s;
		}
		.c-slider__ttl02{
			animation: slider02 0.5s forwards;
			animation-delay: 0.7s;
		}
		.c-slider__txt{
			animation: slider03 0.5s forwards;
			animation-delay: 0.8s;
		}
		.c-slider__btn{
			animation: slider04 0.5s forwards;
			animation-delay: 0.9s;
		}
	}		
}

@keyframes slider01 {	
	0%{
		opacity: 0;
		transform: translateY(-80px) scale(0);
	}
	100%{
		opacity: 1;
		transform: translateY(0) scale(1);
	}
}
@keyframes slider02 {	
	0%{
		opacity: 0;
		transform: translateX(80px) scale(0);
	}
	100%{
		opacity: 1;
		transform: translateX(0) scale(1);
	}
}
@keyframes slider03 {	
	0%{
		opacity: 0;
		transform: translateY(80px) scale(0);
	}
	100%{
		opacity: 1;
		transform: translateY(0) scale(1);
	}
}
@keyframes slider04 {	
	0%{
		opacity: 0;
		transform: translateX(-80px) scale(0);
	}
	100%{
		opacity: 1;
		transform: translateX(0) scale(1);
	}
}
@keyframes progress{
	0%{
		width: 0;
	}
	100%{
		width: 100%;
	}
}