/*----------------------------------------------------
Reset CSS
----------------------------------------------------*/
html{
	font-size: 62.5%;
}
body{
	font-size: 1.4rem;
}
h1,
h2,
h3,
h4,
h5{
	margin: 0;
}
ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
a{
	transition: 0.3s ease-in-out;
}
a:hover{
	text-decoration: none;
}

/*----------------------------------------------------
Change Background and Color
----------------------------------------------------*/

#89a6c4